@import url('./main-layout.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

.message {
    padding: 0.5rem 1rem;
    background: lightgray;
    border-radius: 0 1rem 1rem 1rem;
    line-break: anywhere;
    max-width: 80%;

    display: grid;
    gap: 0 1rem;
    grid-template: "userId timestamp"
                   "body   body";
}

.message > .user-id {
    grid-area: userId;
    font-weight: bold;
}

.message > .timestamp {
    grid-area: timestamp;
    font-size: small;
    text-align: end;
    white-space: nowrap;
}

.message > .body {
    grid-area: body;
}

.message > img.body {
    width: 20vw;
    max-width: 100%;
}

.message.own > .text {
    text-align: front;
}

.picandmess.own > .message {
    background: lightgreen;
    border-radius: 1rem 1rem 0 1rem;
}

vaadin-scroller {
    scrollbar-gutter: stable;
}

#logout-button {
    margin-left: 1rem;
    margin-right: 0.5rem;
}

#user-id-header {
    margin-right: var(--lumo-space-s);
}

#user-info {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.picandmess {
    display: flex;
    gap: 1rem;
}

.picandmess.own {
    align-self: end;
    flex-direction: row-reverse;
}

.profile {
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    object-fit: cover;
}

.profile.small {
    height: 2rem;
    width: 2rem;
}

.role-container {
    display: flex;
    gap: 0.5rem;
}

.role {
    padding: 0.2rem 0.4rem;
    background: lightgray;
    border-radius: .5rem;
}

.online {
    padding: 0.2rem 0.4rem;
    background: lightgreen;
    border-radius: .5rem;
}

.offline {
    padding: 0.2rem 0.4rem;
    background: lightpink;
    border-radius: .5rem;
}
