@import url('./main-layout.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

.message {
    padding: 0.5rem 1rem;
    background: lightgray;
    border-radius: 0 1rem 1rem 1rem;
    line-break: anywhere;
    max-width: 80%;

    display: grid;
    gap: 0 1rem;
    grid-template-areas: "userId timestamp"
                         "text   text"
}

.message > .user-id {
    grid-area: userId;
    font-weight: bold;
}

.message > .timestamp {
    grid-area: timestamp;
    font-size: small;
    text-align: end;
}

.message > .text {
    grid-area: text;
}

.message.own > .text {
    text-align: front;
}

.message.own {
    background: lightgreen;
    border-radius: 1rem 1rem 0 1rem;
    align-self: end;
}

vaadin-scroller {
    scrollbar-gutter: stable;
}

.logout-button {
    margin-left: auto;
    margin-right: 0.5rem;
}
